body {
    background-color: #cecece;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-title {
    color: dimgray;
    font-size: 25px;
}

.img {
    width: 100%;
    max-width: 350px;
    height: 100%;
    padding: 20px 0 20px 0;
}

.timer {
    font-size: 40px;
    margin-top: -210px;
    color: dimgray;
}

.btn-container {
    margin-top: 200px;
    display: flex;
}

.btn {
    width: 100px;
    font-size: 15px;
    background-color: dimgray;
    color: #fff;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    opacity: 0.9;
    transition: all 0.70s;
}

